@import "react-phone-input-2/lib/style.css";

#root.auth-layout {
    height: 100dvh;
    width: 100%;
}

#root.auth-layout aside {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    box-shadow: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#root.auth-layout #main {
    display: none;
}

.logo {
    height: 2rem;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1240px) {

    #root.auth-layout {
        display: flex;
    }
    
    #root.auth-layout aside {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    
    #root.auth-layout main {
        flex: 1;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    #root.auth-layout main img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    #root.auth-layout main #rotate-wallpaper {
        right: 1rem;
        bottom: 1rem;
        position: absolute;
    }
}

@media screen and (min-width: 1400px) {
    
}