:root {
    --global-border-radius: .25rem
}

#root.dash-layout {
	width: 100vw;
	height: 100vh;
	display: flex;
    align-items: center;
    flex-direction: column;
}

#root.dash-layout #sidebar, 
#root.dash-layout main {
	
	/* border-radius: var(--global-border-radius); */
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
}

#root.dash-layout #sidebar {
}

#root.dash-layout main header{
	height: 4rem;
	display: flex;
	padding: 0 .5rem;
	align-items: center;
	background-color: #ffffff;
}

#root.dash-layout main {
	flex: 1;
	width: 100%;
	/* background-color: var(--backdrop-grey); */
}

@media screen and (min-width: 1240px) {
	#root.dash-layout {
		padding: .5rem;
		flex-direction: row;
	}
	
	#root.dash-layout #sidebar {
		border: 2px solid var(--backdrop-grey);
	}
	
	#root.dash-layout main {
		height: 100%;
		border-right: 2px solid var(--backdrop-grey);
		border-block: 2px solid var(--backdrop-grey);
	}

	#root.dash-layout main header{
		height: 4rem;
		display: flex;
		padding: 0 1rem;
	}
}