@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--global-border-radius: .25rem
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter';
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

#root {
	gap: 1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	padding: 1rem;
}

#sidebar, 
main {
	padding: 1rem;
	border: 1px solid #00000020;
	border-radius: var(--global-border-radius);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#sidebar {
  	width: 16rem;
}

#sidebar .logo {
	width: 60%;
	margin: 0 auto;
}

#sidebar ul {
	gap: .5rem;
	display: flex;
	list-style: none;
	flex-direction: column;
}

#sidebar ul li a {
	display: flex;
	font-size: .8rem;
	font-weight: 600;
	position: relative;
	padding: .5rem .75rem;
	border-radius: var(--global-border-radius);
	transition: .3s ease background-color;
}

#sidebar ul li a:hover {
	background-color: #00000015;
}

#sidebar ul li a.active {
	background-color: #00000020;
}

#sidebar ul li a.active::before {
	top: 50%;
	left: 0;
	content: '';
	width: .2rem;
	height: 60%;
	position: absolute;
	background-color: #712a92;
	transform: translateY(-50%);
	border-radius: 0 5px 5px 0;
}

main {
	flex: 1;
}