main#lists {
    display: flex;
    flex-direction: column;
}

main#lists .main-content {
    flex: 1;
    gap: .5rem;
    display: grid;
    padding: .5rem;
    overflow-y: auto;
    /* background-color: #f6f6f6; */
}

.list {
    display: flex;
    position: relative;
    flex-direction: column;
}

.list .header .details {
    gap: .25rem;
    display: flex;
    flex-direction: column;
}

.main-content.empty .empty-container svg {
    font-size: 3rem;
}

.list-items {
    flex: 1;
    gap: .5rem;
    display: flex;
    padding: .5rem;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    align-content: start;
    justify-items: start;
    /* background-color: var(--backdrop-grey); */
}

.list-items.ordered {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .25rem;
    
    align-content: start;
    justify-items: start;
}

.list-item {
    gap: .5rem;
    display: flex;
    cursor: pointer;
    width: fit-content;
    max-width: 10rem;
    font-size: .8rem;
    color: #000000;
    overflow: hidden;
    border-radius: 2rem;
    white-space: nowrap;
    height: min-content;
    padding: .5rem .5rem;
    text-overflow: ellipsis;
    background-color: #a229da1f;
    transition: .3s ease box-shadow,
                .3s ease background-color;
}

.list-items.ordered .list-item {
    width: 100%;
    max-width: none;
    border-radius: var(--global-border-radius);
}

.list-item:hover {
    background-color: #a229da44;
}

.card-actions#modify-list-item {
    
}

@media screen and (min-width: 1240px) {

    main#lists .main-content {
        grid-template-columns: repeat(4, 1fr);
    }
    
    main#lists header .action-bar {
        gap: 1rem;
        display: flex;
        align-items: center;
    }
    
    main#lists header .action-bar .erica-site-btn.primary {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1600px) {
    .list {
        /* max-width: 18rem; */
        grid-template-columns: repeat(5, 1fr);
    }
}