#sidebar {
	width: 100%;
	height: 4rem;
	overflow: hidden;
	position: relative;
	transition: .3s ease height;
}

.sidebar-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

#sidebar.dropped {
	overflow: visible;
}

#sidebar.dropped .sidebar-container {
	height: 90vh;
	transition: .3s ease height;
}

#sidebar:not(.dropped) .sidebar-main,
#sidebar:not(.dropped) .sidebar-footer {
    opacity: 0;
	display: none;
	/* visibility: hidden; */
}

.sidebar-header {
	display: flex;
	height: 4rem;
	padding: 0 .5rem;
	align-items: center;
	justify-content: space-between;
}

#sidebar .sidebar-logo {
	width: 30%;
	height: auto;
	display: flex;
	align-items: center;
}

#sidebar .sidebar-logo img {
	width: 100%;
	height: 100%;
}

.sidebar-header .menu-toggle {
	display: grid;
	background: none;
	font-size: 1.5rem;
	place-content: center;
}

.sidebar-header .menu-toggle.expand {
	display: none;
}

.sidebar-main {
	gap: 1rem;
	flex: 1;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.sidebar-list {
    gap: .5rem;
	list-style: none;
}

#sidebar ul li a {
	gap: .5rem;
	opacity: .5;
	display: flex;
	font-size: .8rem;
	font-weight: 600;
	position: relative;
	align-items: center;
	padding: .5rem .75rem;
	border-radius: var(--global-border-radius);
	transition: .3s ease background-color,
				.3s ease opacity;
}

#sidebar ul li a:hover {
	opacity: 1;
	background-color: #00000015;
}

#sidebar ul li a.active {
	opacity: 1;
	background-color: #00000020;
}

#sidebar ul li a.active::before {
	top: 50%;
	left: 0;
	content: '';
	width: .2rem;
	height: 60%;
	position: absolute;
	background-color: #712a92;
	transform: translateY(-50%);
	border-radius: 0 5px 5px 0;
}

#sidebar ul li a .link-icon {
	font-size: 1.2rem;
}

.sidebar-footer .user-toggle {
	gap: .5rem;
	padding: .5rem;
	display: flex;
	background: none;
	align-items: center;
	background-color: #ffffff;
}

.sidebar-footer .user-toggle:hover {
	background-color: #00000015;
}

.sidebar-footer .user-logout {
	gap: .5rem;
	padding: 0;
	display: flex;
	background: none;
	align-items: center;
}

.sidebar-footer .user-icon {
	width: 2rem;
	height: 2rem;
	display: grid;
	overflow: hidden;
	border-radius: 50%;
	place-items: center;
	background-color: #00000015;
}

.sidebar-footer .user-toggle svg {
	color: #00000020;
	font-size: 1rem;
}

.sidebar-footer .user-toggle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 1240px) {
	#sidebar {
		width: 20%;
		height: 100%;
	}
	
	.sidebar-container {
		gap: 1rem;
	}
	
	.sidebar-main {
		padding: 0 1rem;

	}

	#sidebar .logo {
		width: 60%;
		margin: 0 auto;
	}

	#sidebar ul {
		gap: .25rem;
		display: flex;
		list-style: none;
		flex-direction: column;
	}

	.sidebar-footer {
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #00000020;
	}
	
	.sidebar-header .menu-toggle.drop {
		display: none;
	}

	.sidebar-header .menu-toggle.expand {
		display: grid;
	}

	#sidebar.dropped .sidebar-container {
		height: 100%;
	}
	
	#sidebar:not(.dropped) .sidebar-main,
	#sidebar:not(.dropped) .sidebar-footer {
		opacity: 1;
		display: flex;
	}
}